.div-level3-a {
    height: 500px;
    padding: 5px;
}

.div-level3-b {
    height: 500px;
    padding: 5px;
}

.chapter {
    font-weight: bold;
}

.div-level3-a h4 {
    font-size: 20px;
    font-weight: bold;
}

.div-level3-a p {
    font-size: 18px;
    color: black;
    margin-bottom: 0px;
}