
    <%# BANNER %>
   
    <div class="banner-home">
        <div class="container">
            <h1>Hello Houston Coding</h1> 
            <p>Find all the ingredients you need to code</p>
            <a class="btn btn-home" href="#">Start</a>
        </div>  
    </div>
 
    <%# CARDS %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>Front-end</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>Back-end</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>Github</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>Hosting</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>DB design</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>Design tool</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>Editor</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>Project</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>Ruby</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>Browser</p>
                </div>
            </div>
        </div>
    </div>



<%# FOOTER %>
    <div  class="footer-all">
        <p>FOOTER</p>
    </div>
        