<%# FIL D'ARIANE %>
<div class="fil-ariane">
   <p><%= link_to "home", root_path, class: " link ariane", data: { turbolinks: false } %> > 
   <%= link_to "front-end", front_end_path, class: " link ariane", data: { turbolinks: false }  %> >
   <%= link_to "html", html_path, class: " link ariane", data: { turbolinks: false }  %></p>     
</div>

<%# TITLE %>
<div class="front-title">
    <h1>HTML</h1>
</div>

<%# CONTENT %>
<div class="container">
    <div class="row">
        
        <%# BLOC DE GAUCHE %>
        <div class="col-sm-12 col-md-4 div-level3-b">
            <h3 class="chapter">
            <img src="/assets/logo_fusée.png" alt="">
            Chapter
            </h3>
            <h3>
            <ol class="liste-3">
                <li>
                <a class="title" href="#image">Image</a>
                </li>
                    <ul>
                        <li>
                            <a class="under-level" href="#image">Rails Helper</a>
                        </li>
                    </ul>
            </ol>
        </div>  


        <%# BLOC DE DROITE %>
        <div class="col-sm-12 col-md-8 div-level3-a">
            <h3 id="image"><a class="anchor-link" href="#image">1 IMAGE</a></h3>
                <br>
                <h4>1.1 RAILS HELPER</h4>
                <br>
                <h4>Sources</h4>
                    <p>• Source 1 => <a href="https://apidock.com/rails/ActionView/Helpers/AssetTagHelper/image_tag" target="_blank">apidock</a></p>
                    <p>• Source 2 => <a href="https://api.rubyonrails.org/v6.1.0/classes/ActionView/Helpers/AssetTagHelper.html" target="_blank">api.rubyonrails.org</a></p>
                <br> 
                <h4>VScode - ERB Keyboard shortcuts</h4>
                <p>• Source => <a href="https://marketplace.visualstudio.com/items?itemName=rayhanw.erb-helpers" target="_blank">Marketplace Visual Studio</a></p>
                <br> 
                <h4>html vs helper</h4>
                <p>• HTML => [img src="/assets/logo_fusée.png" alt=""]</p>
                <p>• ERB => [%= image_tag("logo_fusée") %]</p>
        </div>  


    </div>
</div>


