<%# FIL D'ARIANE %>
<div class="fil-ariane">
   <p><%= link_to "home", root_path, class: " link ariane", data: { turbolinks: false } %> > 
   <%= link_to "front-end", front_end_path, class: " link ariane", data: { turbolinks: false }  %> >
   <%= link_to "html", html_path, class: " link ariane", data: { turbolinks: false }  %></p>     
</div>

<%# TITLE %>
<div class="front-title">
    <h1>HTML</h1>
</div>

<%# CONTENT %>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 div-level3-a">
            <br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h3 id="guide-assumption">
                <a class="anchorlink" href="#guide-assumption">GUIDE ASSUMPTION</a>
            </h3>
        </div>  
        <div class="col-sm-12 col-md-4 div-level3-b">
            <h3 class="chapter">
            <img src="/assets/logo_fusée.png" alt="">
            Chapter
            </h3>
            <h3>
            <ol class="liste-3">
                <li>
                <a href="#guide-assumption">Guide Assumptions</a>
                </li>
            </ol>
        </div>  
    </div>
</div>


